body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
}

.background {
    background-image: url('/static/product/images/bg_3.jpeg');
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    position: relative;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5); /* Optional: to make text more readable */
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    width: 80%;
}

.content h1 {
    margin: 0;
    font-size: 2.5em;
}

.content p {
    margin: 10px 0 0;
    font-size: 1.2em;
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2em;
    color: #fff;
    background-color: #007bff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

.btn:hover {
    background-color: #0056b3;
}

