<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <div class="container col-3 mt-5">
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-success" role="alert">
                {{message}}
            </div>
            {% endfor %}
        {% endif %}
        <h2 class="text-center">Login</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.username.label_tag }}
                {{ form.username }}
                {{ form.username.errors }}
            </div>
            <div class="form-group">
                {{ form.password.label_tag }}
                {{ form.password }}
                {{ form.password.errors }}
            </div>
            <button type="submit" class="btn btn-primary col-12 mt-3">Login</button>
        </form>
        <p class="text-center"><a href="{% url 'register' %}" style="text-decoration: none;">If you don't have an account, register.</a></p>
    </div>
</body>
</html>